[submodule "resultes-dev-utils"]
	path = dev-utils
	url = https://github.com/resultes-net/dev-utils.git
[submodule "openapi-schema"]
	path = openapi-schema
	url = https://github.com/resultes-net/openapi-schema.git
